<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <!-- build:css styles/popup-vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
</head>

<body ng-app="popup" ng-controller="PopupCtrl">
    <!-- build:js scripts/popup-vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
    <form ng-submit="submitFriend()">
        <div class="form-group row">
            <div class="col-md-6">
                <label class="custom-control">Every </label>
                <input type="text" class="custom-control" tabindex="-1" placeholder="   # OF" ng-model="friend.divisor">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" tabindex="-1" ng-checked="friend.posts" ng-click="friend.posts = !friend.posts">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Posts</span>
                </label>
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" tabindex="-1" ng-checked="friend.comments" ng-click="friend.comments = !friend.comments">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Comments</span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control" tabindex="-1" placeholder="NAME O' FWEND" ng-model="friend.name">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="submit" ng-disabled="!friend.posts && !friend.comments">Auto-lige</button>
                        <button class="btn btn-secondary" type="button" ng-click="showFriendsTracked = !showFriendsTracked">Fwend list</button>
                    </span>
                </div>
            </div>
        </div>
        </form>
        <div class="row" ng-init="showFriendsTracked = false" ng-show="showFriendsTracked && friends.length !== 0">
        <div class="col-md-12">
            <ul>
                <li ng-repeat="friend in friends">{{ friend.name }}  <a ng-click="untrackFriend(friend)" style="color: red">x</a></li>
            </ul>
        </div>
        </div>
        
        <!-- build:js scripts/popup.js -->
        <script src="scripts/jquery.min.js"></script>
        <script src="scripts/bootstrap.min.js"></script>
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/popup.js"></script>
        <script src="scripts/friends.service.js"></script>
        <!-- endbuild -->
</body>

</html>
